@media (min-width: 768px) {
	.container {
	    max-width: 860px;
	}
}

@media (min-width: 992px) {
	.container {
	    max-width: 1140px;
	}

	.header-container {
		height: 95px;
	}
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1140px;
	}
}

:root {
	--link-color: #b02029;
	--btn-gradient-light-color: #cc3333;
	--btn-gradient-dark-color: #962029;
	--dark-header-color: #6D6D6D;
	--short-card-height: 229px;
	--verticle-card-margin: 30px;
}

body {
	font-family: Calibri, Candara, Arial, sans-serif;
	color: #000;
	background-image: url("imgs/light_noise_diagonal.png");
	background-repeat: repeat;
}

h2, h3 {
	font-size: 16px;
	font-weight: bold;
}

p { font-size: 14px; }

.header-container {
	border-bottom: 1px solid #555;
	box-shadow: 0 1px 2px #666;
	background-color: var(--dark-header-color);
}

a {
	color: var(--link-color);
}

.navbar-separator { /*white line between nav items*/
	height: 20px;
	width: 2px;
	margin: 0 2px;
	background-color: #fff;
}

.main-content {
	margin-top: 30px;
}

.card-short { height: var(--short-card-height); }

.card-tall { height: calc(var(--short-card-height) * 2 + var(--verticle-card-margin)); } /*calc double card height*/

#logo {
	background-color: #fff;
	border: 5px solid var(--link-color);
	height: 100px;
	width: 100px;
	transform: translate(-12px, 10px);
	margin-right: 20px;
	box-shadow: 2px 2px 2px #444;
}

@media (max-width: 992px) {
	#logo {
		height: 50px;
		width: 50px;
	}
}

#logout {
	display: inline-flex;
	float: right;
	border: none;
	background: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	margin: 50px 20px 0 0;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*--------------------Bootstrap Overrides--------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.navbar {
	padding: 0;
}

.navbar-brand { 
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	display: inline-block;
}

@media (min-width: 992px) {
	.navbar-nav {
		width: 900px;
		height: 30px;
		background-color: var(--link-color);
		background: linear-gradient(var(--btn-gradient-light-color), var(--btn-gradient-dark-color));
		border: none;
		border-radius: .25rem;
		box-shadow: 1px 1px 2px #444;
	    margin: 0 auto;
	    transform: translate(-450px, 37px); /*70px, -15px*/
	    align-items: center;
	}

	.navbar-brand { 
		font-size: 46px;
		padding-top: .3125rem;
	    padding-bottom: .3125rem;
	    margin-right: 1rem;
	    line-height: inherit;
	}
}

@media (max-width: 1200px) {
	.navbar-nav {
	    width: 820px;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #000;
}

.nav-link:hover {
	text-decoration: none;
}

.nav-tabs .nav-link .nav-link:hover {
	border: none;
}

.card {
	border: none;
	box-shadow: 0 0 3px #666;
	margin-bottom: var(--verticle-card-margin);
}

.card-header {
	background-color: #000;
	border: 2px solid #000;
	border-bottom: none;
	padding: 4px 0px 5px 8px;
	height: 30px;
}

.card-header:first-child { border-radius: .25rem .25rem 0 0; }

.card-title { color: #fff; }

.card-body {
	background-color: #fff;
	border-radius: 0 0 .25rem .25rem;
	border: none;
	border-top: none;
	overflow: auto;
}
